.container {
    position: relative;
}

.header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.header .container {
	padding-bottom: 10px;
	position: relative;
}

.header__left {
	float: left;
	width: 50%;
}

.header__right {
	float: left;
	width: 50%;
	text-align: right;
}

.user {
	padding-top: 10px;
	padding-left: 10px;
}

.user__avatar {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	overflow: hidden;
	width: 60px;
	height: 60px;
	position: relative;
}

.user__avatar-pic {
	max-width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user__name {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;	
	max-width: 250px;
	margin-left: 15px;
}

.contacts {
	margin-top: 30px;
	padding-right: 11px;
	display: inline-block;
	position: relative;

	&:hover {
		.contacts__push {
		    color: #e85f61;	
		    border-bottom: 2px dotted #e85f61
		}

		.contacts__dropdown {
			display: block;
		}
	}
}

.contacts__push {
	text-decoration: none;
	line-height: 28px;
	font-size: 18px;
	color: #32c3e5;
	border-bottom: 2px dotted #32c3e5;
}

.contacts__dropdown {
	padding: 15px 20px;
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    margin-top: 12px;
    display: none;
    left: auto;

    &:before {
    	content: "";
    	position: absolute;
    	left: 0;
    	right: 0;
    	height: 30px;
    	top: -28px;
    }
} 

.contacts__dropdown-triangle{
	position: absolute;
    top: -10px;
    left: 75%;
    transform: translateX(-50%);
    height: 10px;
    width: 20px;
	
	&:after, &:before {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-top-width: 0px;
		top: 0px;
		position: absolute;
		left: 0;
		transform: translate(-50%);
	}

	&:before {
		border-bottom-color: #dedede;

	}

	&:after {
		border-bottom-color: #fff;
		margin-top: 1px;
	}
}

.contacts__dropdown-item {
    margin-bottom: 15px;

    &:last-child {
		margin-bottom: 0;
	}

	&:hover .contacts__dropdown-text {	
		color: #e85f61;
	}
}

.contacts__dropdown-link {
	white-space: nowrap;
	font-size: 18px;
	font-family: "FiraSans-Light";
	color: #414141;
	text-decoration: none;
	text-align: left;
	display: block;
}

.contacts__dropdown-icon {
	color: #33c1e3;
	margin-right: 15px;
}