.sidebar {
    width: 23%;
    float: left;
    padding-top: 25px;
}

.menu__items {
    text-align: right;
}

.menu__link {
    display: block;
    padding: 10px 0;
    padding-right: 20px;
    color: #414141;
    text-decoration: none;
    font-size: 18px;
}

.menu__link:hover {
    color: #33c1e3;
}

.menu__link:active {
    color: #33c1e3;
    font-weight: bold;
    border-color: #33c1e3;
} 

.menu__item_active {
    border-right: 6px solid  #33c1e3;
}  
